body {
  
    /* background-image: linear-gradient(#2f00ff 0%, #2a04d6 100%); */
    background-color: #2f00ff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #ffffff10; */
    height: 100vh;
    
}

div {
    text-align: right;
    /* background-color: #ffffff10; */
    font-size: 100px;
    position: relative;
    
}

#p1 {
    transform: skew(10deg, 10deg);
    top: -100px;
}
#p2 {
    transform: skew(5deg, 5deg);
    top: -50px;
}
#p3 {
    transform: skew(0deg, 0deg);
}
#p4 {
    transform: skew(-5deg, -5deg);
    top: 50px;
}
#p5 {
    transform: skew(-10deg, -10deg);
    top: 100px;
}