body {
  
    /* background-image: linear-gradient(#2f00ff 0%, #2a04d6 100%); */
    background-color: #2f00ff;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    position: relative;
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff10;

    
} */

section {

    /* background-color: #ffffff20; */
    position: absolute;
    top: 70vh;  
    right: 10px; 
    height: 10000px;
    /* width: 1000px; */
    
    transform: 
                
                translate(-20%, -50vh) 
                
                perspective(300px) 
                
                rotateY(-20deg) 
                  
                

                /* skew(-10deg, 0deg) */
                /* rotateX(10deg) */
                
                ;

    /* transform: translate(0%, -50%);  */
    /* transform-origin: 50% 500px; */

}

div {
    /* position: relative; */
    
    /* display: flex; */
    /* width: 600px; */
    text-align: right;
    background-color: #ffffff10;
    font-weight: 600;
    font-size: 120px;
    
    /* position: relative; */
    /* top: 0px; */
    /* -webkit-perspective: 240px; */
    
    transition: all .5s;
    /* transition-delay: .05s; */
    /* margin: 10px; */
    
    
}

div:hover {
    
    color: #ffffff77;
    background-color: #ffffff20;
    transform: 
    
        scale(1.2)   
        translate(-3%, 0%) 
                
        perspective(1px) 
                
        rotateY(.02deg) 
                     
   
   
    
    ;
       /* font-size: 120px;          */
}